@import "react-slideshow-image/dist/styles.css";

img{
    width: 100%;
}

.gameInfo{
}

.gameInfo h2{
    color: white;
    margin: 15px;
}

.devInfo p{
    margin:5px 15px;
    color: whitesmoke;
}

.shortDescription{
    color: lightgray;
    margin: 30px 15px;
}

.readMore{
    position: relative;
    text-align: center;
    color:wheat;
    z-index  : 2;
}

.descriptionContainer{
    padding-bottom: 15px;
    width: 100%;
}

.description{
    margin: 10px 20px;
    color:rgba(255,255,255,0.3);
    max-height: 50px;
    line-height: 1.8;
    overflow: hidden;
}

.descriptionShow{
    margin: 10px 20px;
    color:rgba(255,255,255,0.7);
    line-height: 1.8;
    text-align: justify;
}

.requirementContainer{
    background-color: rgba(255,255,255,0.1);
    padding: 1rem;
}

.requirementContainer h3{
    margin: 0px;
}
.requirementContainer p{
    color: white;
}