.card{
    width: 250px;
    height: 350px;
    margin: 30px auto;
    border-radius: 0.5rem;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
}

.textContainer{
    padding: 20px
}

.cardtitle{
    white-space: nowrap;
    overflow: hidden;
    margin: 0px 0px 10px 0px;
    color:#D83F87;

}

.carddescription{
    color: rgba(255,255,255,0.7);
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.platformInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 22px 0px 15px;
}

.platformInfo p{
    padding: 0px;
    margin: 0px;
    color: #35bdcf;
}


@media screen and (min-width: 768px){
    .card{
        margin: 15px;
    }
}
