.header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #116466;
}

.logo{
    font-size: 2rem;
    margin: auto 15px;
    color: white;
}

.bugericon{
    height: auto;
    width: auto;
    padding: 10px;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
}

.burger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }